# Sample configuration file for HPCFS

HostMap           storage "1.2.3.$[1-10] 10.0.1.1 192.168.0.1"
Rewrite           ^/(.+)$ http://${storage}/$1

ConnectTimeout    5
MapTimeout        5
ReceiveTimeout    30
MaxDepth          8

CacheRoot         /var/lib/hpcfs/cache
Log               /var/logs/hpcfs/%j-%H%M.log
